@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

:root {
  /* Color Variables */
  --color-base: #6d8165;
  --color-primary: #e0cfb5;
  --color-secondary: #000;
  --color-action: #3d3327;

  /* Text Variables */
  --font-heading: "Crete Round", sans-serif;
  --font-caption: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
}

body {
  height: 100%;
  background-color: #e1f0d3;
  overflow-y: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: var(--color-primary);
}

/*!Navbar*/
header {
  width: 100vw;
  background-color: #7a918d;
  z-index: 1;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7a918d;
  padding-left: 150px;
  padding-right: 150px;
}

.navbar .logo a {
  font-size: 2rem;
  font-family: var(--font-heading);
  font-style: italic;
}

.navbar .links {
  display: flex;
  gap: 2.5rem;
  font-family: var(--font-caption);
}

.navbar .toggle-btn {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: #c5edac;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-caption);
  transition: scale 0.2 ease;
}

.action-btn:hover {
  scale: 1.05;
  color: var(--color-primary);
  transition: all 0.5s ease;
}

.action-btn:active {
  scale: 0.95;
}

/*!Dropdown*/
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: var(--font-caption);
}

.dropdown-menu.open {
  height: 255px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*!Responsive*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-width: 620px) {
  .navbar {
    padding: 0px;
  }
}

@media (max-width: 619px) {
  .navbar {
    padding: 20px;
  }
}

.main-container {
  height: 100%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  flex-direction: column;
}

.text {
  width: 50%;
}

.text h1 {
  font-family: "Orelega One", cursive;
  color: #7a918d;
  font-size: 4em;
}

.text p {
  font-family: "Poppins", sans-serif;
  color: #7a918d;
}

.expenses-form {
  margin-top: 20px;

  height: 300px;
  border-radius: 15px;
  background: rgba(214, 228, 205, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

label,
input {
  display: flex;
  flex-direction: column;
}
label {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  font-family: "Crete Round", sans-serif;
  font-size: 30px;
  color: #7a918d;
}

input[type="date"] {
  background-color: #7a918d;
  padding: 0 15px;
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 100px;
}

input[type="date"]:hover {
  background-color: #7a918d;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
}

select {
  background: #7a918d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: #7a918d;
}

input[type="text"] {
  background-color: #7a918d;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  padding-left: 20px;
  transition: background 0.3s;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: #7a918d;
}

button {
  background-color: #7a918d;
  outline: none;
  border: #7a918d;
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 92%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

button:hover {
  scale: 1.5;
  color: var(--color-primary);
  transition: all 0.8s ease;
  background-color: #7a918d;
}
img {
  position: absolute;
  top: 8%;
  left: 55%;
  transform: rotate(25deg) translate(0px, 0px);
  z-index: -999;
  max-width: 30%;
  height: auto;
}

@media (max-width: 1590px) {
  img {
    position: absolute;
    top: 8%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 250px;
  }
}
@media (max-width: 1450px) {
  img {
    position: absolute;
    top: 12%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 200px;
  }
}
@media (max-width: 1330px) {
  img {
    position: absolute;
    top: 12%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 150px;
  }
}

@media (max-width: 1210px) {
  img {
    position: absolute;
    top: 12%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 100px;
  }
}

@media (max-width: 1140px) {
  img {
    position: absolute;
    top: 15%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 100px;
  }
}

@media (max-width: 1070px) {
  img {
    position: absolute;
    top: 18%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 80px;
  }
}

@media (max-width: 1070px) {
  img {
    position: absolute;
    top: 18%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
  }

  #form {
    gap: 50px;
  }
}

@media (max-width: 990px) {
  img {
    position: absolute;
    top: 18%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
    display: none;
  }

  .text {
    width: 100%;
    margin-top: 80px;
  }

  #form {
    gap: 50px;
  }
}

@media (max-width: 990px) {
  img {
    position: absolute;
    top: 18%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
    display: none;
  }

  .text {
    width: 100%;
    margin-top: 80px;
  }

  #form {
    gap: 25px;
  }
}

@media (max-width: 860px) {
  img {
    position: absolute;
    top: 18%;
    left: 55%;
    transform: rotate(25deg) translate(0px, 0px);
    z-index: -999;
    max-width: 30%;
    height: auto;
    display: none;
  }

  .text {
    width: 100%;
    margin-top: 80px;
  }

  #form {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 30px;
  }

  .expenses-form {
    overflow-y: visible;
    height: 430px;
  }

  .main-container {
    margin-top: 60px;
  }

  label {
    margin-bottom: 5px;
  }

  button {
    background-color: #c5edac;
    outline: none;
    border: #7a918d;
    color: white;
    position: absolute;
    top: 80%;
    left: 89%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 300ms ease-out;
  }
}

@media (max-width: 660px) {
  button {
    left: 85%;
  }
}
@media (max-width: 499px) {
  button {
    left: 83%;
  }

  .text h1 {
    font-size: 3em;
  }
}

@media (max-width: 430px) {
  button {
    left: 83%;
  }

  .text h1 {
    font-size: 3em;
  }

  .text p {
    font-size: 0.8em;
  }
}
